---
- name: Update system
  dnf:
    name: "*"
    state: latest
    update_cache: yes

- name: Install base packages
  dnf:
    name:
      - git
      - curl
      - wget
      - firewalld
      - python3-pip
    state: present

- name: Enable firewalld
  service:
    name: firewalld
    state: started
    enabled: true

- name: Set SELinux to permissive (demo-friendly)
  selinux:
    policy: targeted
    state: permissive
