---
- name: Update system
  dnf:
    name: "*"
    state: latest
    update_cache: yes

- name: Install base packages
  dnf:
    name:
      - git
      - curl
      - wget
      - python3-pip
    state: present
