- name: Create required directories
  file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - "{{ hyperglass_dir }}"
    - "{{ hyperglass_config_dir }}"

- name: Clone hyperglass repository
  git:
    repo: "{{ hyperglass_repo }}"
    dest: "{{ hyperglass_dir }}"
    depth: 1
    force: yes

- name: Override Dockerfile with fixed version
  copy:
    src: Dockerfile
    dest: "{{ hyperglass_dir }}/Dockerfile"
    mode: "0644"

- name: Copy sample devices config (quickstart)
  get_url:
    url: https://raw.githubusercontent.com/thatmattlove/hyperglass/main/.samples/sample_devices.yaml
    dest: "{{ hyperglass_config_dir }}/devices.yaml"
    mode: "0644"

- name: Build and start hyperglass
  command: docker compose up -d --build
  args:
    chdir: "{{ hyperglass_dir }}"
