services:
  redis:
    image: {{ redis_image }}
    restart: unless-stopped

  hyperglass:
    image: {{ hyperglass_image }}
    depends_on:
      - redis
    env_file:
      - {{ hyperglass_config_dir }}/hyperglass.env
    volumes:
      - {{ hyperglass_config_dir }}:{{ hyperglass_config_dir }}
    ports:
      - "{{ hyperglass_port }}:{{ hyperglass_port }}"
    restart: unless-stopped
