HYPERGLASS_APP_PATH={{ hyperglass_config_dir }}
HYPERGLASS_HOST={{ hyperglass_host }}
HYPERGLASS_PORT={{ hyperglass_port }}

HYPERGLASS_REDIS_HOST=redis
HYPERGLASS_DISABLE_UI=false
HYPERGLASS_DEBUG=false
