---
- name: Install dnf-utils
  dnf:
    name: dnf-utils
    state: present

- name: Add Docker repo
  command: >
    dnf config-manager
    --add-repo
    https://download.docker.com/linux/centos/docker-ce.repo
  args:
    creates: /etc/yum.repos.d/docker-ce.repo

- name: Install Docker
  dnf:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin
    state: present

- name: Enable and start Docker
  service:
    name: docker
    state: started
    enabled: true
